/* 重置一些默认样式 */
body, h2, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* 新增按钮的样式 */
#bookTable button {
    margin-right: 5px;
}

#bookTable button:nth-child(odd) {
    background-color: #3498db;
}

#bookTable button:nth-child(even) {
    background-color: #e74c3c;
}

#bookTable button:hover {
    background-color: #2c3e50;
}

#search {
    padding: 5px;
    margin-bottom: 10px;
}

/* 修改当前页输入框的样式 */
#currentPage {
    width: 30px;
    padding: 5px;
    text-align: center;
}

/* 修改分页控件的样式 */
#pagination {
    margin-top: 10px;
}
